:root {
  --green: #006828;
  --cream-white: rgb(243, 244, 227);
  --gray-background: #a2a2a2;
  --paper-white: #e3e4e4;
  --black: #282828;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--green);
  color: var(--black);
  box-sizing: border-box;
}

.body-container {
  background-color: var(--green);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px; 
  box-sizing: border-box;
}

/* Heor container Section */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: var(--cream-white);
  border-radius: 40px;
  width: 100%; /* Ensure it takes up available width */
  max-width: 2000px; /* Set a maximum width */
  height: 100%;
  max-height: 2000px;
}

.hero-img {
  /* display: flex;
  justify-content: center; */
  border-radius: 30px;
  width: 100%;   /* Ensures that the image will take up the space of the full .hero-container*/
  height: 100%;
  z-index: 10;
}

.navbar-section {
  display: flex;
  justify-content: initial;
  position: absolute;
  padding: 10px;
  top: 10px;
  z-index: 15;
  line-height: 40px;
  border-color: var(--paper-white);
  border-radius: 30px;
}

 .navbar {
  background-color: var(--green);
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: larger;
  justify-content: space-between;
  gap: 30px;
  z-index: 8;
  border-radius: 30px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
 }

 .nav-links {
  color: var(--paper-white);
  font-style: none;
 }

 .navbar a {
  color: var(--paper-white);
  font-style: none;
  text-decoration: none;
  font-weight: 600;

 }